.sidebarchat
{
    display:  flex;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarchat:hover
{
    background-color: #ebebeb;
}
.sidebarchat_info > p
{
    font-weight: 500;
    font-size: x-small;
    padding-top: 8px;
}